{% extends "base_template.html" %}
{% block content %}
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
			<div class="mdl-card mdl-cell mdl-cell--12-col">
				<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
					<h4 class="mdl-cell mdl-cell--12-col">Course</h4>

					<form method="Post" style="display:block;clear:both;">
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="width:150px;">
							<input class="mdl-textfield__input" type="text" pattern="[A-Z]{4}[1-4]{1}[0-9]{2}" id="course_id" name="course_id">
							<label class="mdl-textfield__label" for="course_id">Course ID</label>
							<span class="mdl-textfield__error">Invalid Course Format</span>
						</div>
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="">
							<input class="mdl-textfield__input" type="text" id="course_name" name="course_name">
							<label class="mdl-textfield__label" for="course_name">Course Name</label>
							<!-- <span class="mdl-textfield__error">Invalid Course Format</span> -->
						</div>
						<div>
							<h5 style="clear:both;padding-top:30px;">Class Distribution</h5>
						</div>
						<div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="width:150px;">
								<input class="mdl-textfield__input" type="text" pattern="[1-9]{1}[0-9]{0,1}" id="class_per_week" name="class_per_week">
								<label class="mdl-textfield__label" for="class_per_week">Class per week</label>
								<span class="mdl-textfield__error">Invalid total class</span>
							</div>
						</div>

						<div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="width:150px;">
								<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="class_distribution_1" name="class_distribution_1">
								<label class="mdl-textfield__label" for="class_distribution_1">1 Hour</label>
								<span class="mdl-textfield__error">That's not a number</span>
							</div>

							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="width:150px;">
								<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="class_distribution_2" name="class_distribution_2">
								<label class="mdl-textfield__label" for="class_distribution_2">2 Hours</label>
								<span class="mdl-textfield__error">That's not a number</span>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="width:150px;">
								<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="class_distribution_3" name="class_distribution_3">
								<label class="mdl-textfield__label" for="class_distribution_3">3 Hours</label>
								<span class="mdl-textfield__error">That's not a number</span>
							</div>

							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="width:150px;">
								<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="class_distribution_4" name="class_distribution_4">
								<label class="mdl-textfield__label" for="class_distribution_4">4 Hours</label>
								<span class="mdl-textfield__error">That's not a number number!</span>
							</div>
						</div>

						<label class="clear">
							<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
						</label>
					</form>
				</div>
			</div>
		</section>
		
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
			<div class="mdl-card mdl-cell mdl-cell--12-col" style="background:transparent">
					<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable" style="width:100%;">
					  <thead>
					    <tr>
					      <th class="mdl-data-table__cell--non-numeric">Course ID</th>
					      <th class="mdl-data-table__cell--non-numeric">Course Name</th>
					      <th>Class per week</th>
					      <th class="mdl-data-table__cell--non-numeric">Class Distribution</th>
					    </tr>
					  </thead>
					  <tbody>
						
						{% for course in courses %}
							<tr>
								<td class="mdl-data-table__cell--non-numeric">{{course.key().name()}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{course.course_name}}</td>
								<td>{{course.class_per_week}}</td>
								<td class="mdl-data-table__cell--non-numeric class_distribution">{{course.class_distribution}}</td>
							</tr>
						{% endfor %}
					  </tbody>
					</table>
				</div>	
			</section>

{% endblock %}
