{% extends "base_template.html" %}
{% block content %}
		<div class="p10">
			<h1>Faculty</h1>
			<form method="Post">
				<label>
					<strong>Faculty ID (e.g. CE)</strong>
					<input name="faculty_id" style="">
				</label>
				<label>
					<strong>Faculty</strong>
					<input name="faculty_name" style="">
				</label>
				<label class="clear">
					<select name="department">
						{% for department in departments %}
						<option value="{{department.key().id()}}">{{department.department_name}}</option>
						{% endfor %}
					</select>
				</label>
				<label class="clear">
					<button type="submit" class="primary"><span>Submit</span></button>
				</label>
			</form>
		</div>
		<div class="listDisplay p10">
			<div style="padding:10px 0;">
				<button class="normal warn" style="margin-right:10px;" disabled="disabled">Delete</button>
				<button class="normal">Edit</button>
			</div>
			<table>
				<tr>
					<th></th>
					<th>ID</th>
					<th>Faculty Name</th>
					<th>Department</th>
				</tr>
				{% for faculty in faculties %}
				<tr>
				<td>
					<input type="checkbox">
				</td>
					<td>{{faculty.key().name()}}</td>
					<td>{{faculty.faculty_name}}</td>
					{% for department in departments %}
						{% if department.key().id() == faculty.department %}
							<td>{{department.department_name}}</td>
						{% endif %}
					{% endfor %}
				</tr>
				{% endfor%}
			</table>
		</div>
{% endblock %}

{% block extraScript %}
	
{% endblock %}
{% block currentPage %}faculty{% endblock %}



