{% extends "base_template.html" %}
{% block content %}
		<!-- <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid"> -->
	<!-- <div class="mdl-layout__content"> -->
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
			<div class="mdl-card mdl-cell mdl-cell--12-col">
				<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
					<h4 class="mdl-cell mdl-cell--12-col">Faculty</h4>

					<form method="Post" style="display:block;clear:both;">
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="width:150px;">
							<input class="mdl-textfield__input" type="text" pattern="[A-Z]{2}" id="faculty_id" name="faculty_id">
							<label class="mdl-textfield__label" for="faculty_id">Faculty ID (eg CE)</label>
							<span class="mdl-textfield__error">Invalid Faculty Format</span>
						</div>
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="">
							<input class="mdl-textfield__input" type="text" id="faculty_name" name="faculty_name">
							<label class="mdl-textfield__label" for="faculty_name">Faculty Name</label>
							<!-- <span class="mdl-textfield__error">Invalid Course Format</span> -->
						</div>
						<div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="width:150px;">
								Department
								<select class="mdl-selectfield mdl-js-selectfield" id="department_name" name="department">
									{% for department in departments %}
									<option value="{{department.key().id()}}">{{department.department_name}}</option>
									{% endfor %}
									<label class="" for="department_name">Department Name</label>
								</select>
							</div>
						</div>

						<label class="clear">
							<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
						</label>
					</form>
				</div>
			</div>
		</section>
		
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
			<div class="mdl-card mdl-cell mdl-cell--12-col" style="background:transparent">
				<!-- <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing"> -->
					<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable" style="width:100%;">
					  <thead>
					    <tr>
					      <th class="mdl-data-table__cell--non-numeric">Faculty ID</th>
					      <th class="mdl-data-table__cell--non-numeric">Faculty Name</th>
					      <th class="mdl-data-table__cell--non-numeric">Department</th>
					    </tr>
					  </thead>
					  <tbody>
						
						{% for faculty in faculties %}
							<tr>
								<td class="mdl-data-table__cell--non-numeric">{{faculty.id}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{faculty.faculty_name}}</td>
								<td class="mdl-data-table__cell--non-numeric" data-department_id="{{faculty.department_id}}">{{faculty.department_name}}</td>
							</tr>
						{% endfor %}
					  </tbody>
					</table>
				</div>	
			</section>

{% endblock %}

{% block currentPage %}faculty{% endblock %}

